{% block sonata_type_date_picker_widget %}
{% spaceless %}
        {% if datepicker_use_button %}
            <div class='input-group date datepicker' id='{{ id }}' data-date-autoclose="true" data-date-format="dd/mm/yyyy">
            {% else %}
                {% set attr = attr|merge({'data-date-format': moment_format}) %}
            {% endif %}
            {{ block('date_widget') }}
            {% if datepicker_use_button %}
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
        {% endif %}
  //Script to add//
    <script type="text/javascript">
        (function ($) {
            $.fn.datepicker.dates['en'] = {
                days: ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi", "Dimanche"],
                daysShort: ["Dim.", "Lun.", "Mar.", "Mer.", "Jeu.", "Ven.", "Sam.", "Dim."],
                daysMin: ["D", "L", "Ma", "Me", "J", "V", "S", "D"],
                months: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"],
                monthsShort: ["Janv.", "Févr.", "Mars", "Avril", "Mai", "Juin", "Juil.", "Août", "Sept.", "Oct.", "Nov.", "Déc."],
                today: "Aujourd'hui",
                clear: "Effacer",
                weekStart: 1,
                format: "dd/mm/yyyy hh:mm:ss"
            };
        }(jQuery));
        jQuery(function ($) {
            $('#{{ id }}').datepicker({
                language: 'en',
                format: "dd/mm/yyyy"

            });


        });
    </script>
{% endspaceless %}
{% endblock sonata_type_date_picker_widget %}