{% macro render_groups(admin, form, groups, has_tab) %}
    {% if has_tab %}<div class="row">{% endif %}
    {% for code in groups %}
        {% set form_group = admin.formgroups[code] %}
        <div class="col-md-12 {{ form_group.class }}">
            <div class="box box-success">
                <div class="box-header">
                    <h4 class="box-title">
                        {{ admin.trans(form_group.name, {}, form_group.translation_domain) }}
                    </h4>
                </div>
                {#<div class="box{% if loop.first %} in{% endif %}" id="{{ admin.uniqid }}_{{ loop.index }}">#}
                <div class="box-body">
                    <div class="sonata-ba-collapsed-fields">
                        {% if form_group.description != false %}
                            <p>{{ form_group.description|raw }}</p>
                        {% endif %}

                        {% for field_name in form_group.fields %}
                            {% if admin.formfielddescriptions[field_name] is defined %}
                                {{ form_row(form[field_name])}}
                            {% endif %}
                        {% else %}
                            <em>{{ 'message_form_group_empty'|trans({}, 'SonataAdminBundle') }}</em>
                        {% endfor %}
                    </div>
                </div>
                {#</div>#}
            </div>
        </div>
    {% endfor %}
    {% if has_tab %}</div>{% endif %}
{% endmacro %}
{% macro render_movies(admin, code_movies, all_movies) %}
    <div class="col-md-12">
        <div class="box box-success">
            <div class="box-header">
                <h4 class="box-title">
                    Movies
                </h4>
            </div>
            {#<div class="box{% if loop.first %} in{% endif %}" id="{{ admin.uniqid }}_{{ loop.index }}">#}
            <div class="box-body">
                <div class="sonata-ba-collapsed-fields">
                    <div id="sonata-ba-field-container_movie" class="form-group">
                        <label for="s55174bd55e1b7_status" class="control-label required">
                            Movie
                        </label>

                        <div class=" sonata-ba-field sonata-ba-field-standard-natural  ">

                            <select class="" name="movie" id="movie">
                                <option value="" selected>Choose</option>
                                {% for movie in all_movies %}
                                    <option value="{{ movie.id }}">{{ movie.movie }}</option>
                                {% endfor %}

                            </select>
                        </div>
                    </div>
                    <div id="sonata-ba-field-container_all_movies" class="form-group">
                        <label for="s55174bd55e1b7_status" class="control-label">
                            All attached movies
                        </label>

                        <div class=" sonata-ba-field sonata-ba-field-standard-natural  ">
                            <table>
                                <thead>
                                <th>ID</th>
                                <th>MovieKey</th>
                                <th>Created</th>
                                <th>Action</th>
                                </thead>
                                <tbody>
                                {% if code_movies %}
                                    {% for movie in code_movies %}
                                    <tr>
                                        <td>{{ movie.id }}</td>
                                        <td>{{ movie.moviekey }}</td>
                                        <td>{{ movie.created }}</td>
                                        <td><a href="/admin/codes/{{ movie.chm_id }}/removemovie">
                                                <button name="btn_update_and_edit" class="btn btn-danger" type="button"><i
                                                                                class="fa fa-minus-circle"></i>
                                                </button></a></td>
                                    </tr>
                                    {% endfor %}
                                {% endif %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {#</div>#}
        </div>
    </div>
{% endmacro %}