{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">

        <h1>Welcome</h1>
            register to watch movie

            <h1>New Register</h1>
            {% form_theme form 'VlBundle:Form:bootstrap_3_horizontal_layout.html.twig'  %}
                {% if status %}
                    <div class="alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        {{ status }}
                    </div>
                {% endif %}
            {{ form_start( form, {'class': 'horizontal form-signin', 'attr': {'class': 'horizontal'}} ) }}

            {{ form_end( form ) }}


        </div> <!-- /container -->





{% endblock %}
