{% extends '::base.html.twig' %}

{% block body %}
    {% if data.moviekey %}
        <div class="videoWrapper">
            <iframe id="player1" src="//player.vimeo.com/video/{{ data.moviekey }}" width="630" height="354" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>


    {% endif %}

{% endblock %}
